body{
  background-size : cover;
}

.heading{
    font-size: 25px;
    background-color: lightcoral;
    margin-top: 0px;
    box-shadow: 10px 10px 100px red;
}

.note{
    font-size: 20px;
}


.div_speed{
float: left;
}

.div_volume{
    float: right;
    }
 img{
        width: 200px ;
        border-radius: 100%;
    }

    .bttn{
        font-size: 25px;
    }

canvas{
    border-radius: 3px;
    border-style: double;
    border-color: black;
    background-color: blue;
}
    